/bin/
/config
/events
/files
/images
/javascripts
/lib
/miscellaneous
/plugins
/stylesheets
/target/
/WEB-INF/
/wheels
/.settings/
/.classpath
/.htaccess
/.project
/Application.cfc
/index.cfm
/IsapiRewrite4.ini
/rewrite.cfm
/root.cfm
/web.config
